.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem;
}
.home h1{
    font-size: 50px;
    padding-bottom: 1rem;
    color: #555555;
}
.home p{
    font-size: 15px;
    color: #aaaaaa;
    padding-bottom: 1rem;
}
.home button{
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #ff6600;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
}
.imgBox img{
    width: 300px;
    height: 300px;
}
@media screen and (max-width:760px){
    .home{
        display: block;
        padding: 2rem;
    }
    .imgBox img{
        width: 200px;
        height: 200px;
        margin-top: 2rem;
    }
    .home h1{
        font-size: 30px;
        padding-bottom: 1rem;
        color: #555555;
    }
    .home p{
        font-size: 10px;
        color: #aaaaaa;
        padding-bottom: 0.5rem;
    }
}